/* Reset time! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Me stuff */
:root{
  --primary-color: #f5f5f5;
  --background-color:#191821;
  --impact-color: #ff0051;
  --primary-font: 'Jacquard 12', Courier, monospace;
  --secondary-font: 'New Rocker', Courier, monospace;
}

body{
  color: var(--primary-color);
  background-image: url("./assets/bg.jpg");
  background-color: var(--background-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--primary-font);
  margin: 20px;
}


.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  letter-spacing: .15em;
  opacity: 1;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
  font-size: 2.5em;
}

.greeting{
  opacity: 1;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.2s;
  font-size: 2em;
}

.dramaText{
  color: var(--impact-color);
}

/* Library */
.library {
  opacity: 1;
  position: relative;
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 
  "main main"
  "main register";
  padding: 10px;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3.2s;
}

.library::before {
  opacity: 1;
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  border: 10px solid transparent;
  border-image-source: url('./assets/gothPattern.jpg');
  border-image-slice: 30;
  border-image-repeat: repeat;


  pointer-events: none;
}

.registerButton{
  font-family: var(--secondary-font);
  font-size: 1.3em;
  opacity: 1;
  background-color: var(--impact-color);
  padding: 6px 20px;
  font-size: 1.6em;
  flex-grow: 1;
}


/* Keyframes for the animation
Fade in effect */
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}